extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome #{user.full_name}. Check your details below:
						div.signup-wall
							ul.user-details
								li Username ---> #{user.login}
								li full_name ---> #{user.full_name} 
						a(href='/signout', class='text-center new-account') Sign Out
		div.col-md-10
				each thing in data
					div.col-md-3.videoHome
						p #{thing.name}
						//- img(src="#{thing.screenshot_path}", alt="screenshot")							
						img(src="#{thing.screenshot_path}", alt="screenshot")
						p #{thing.added_date}
						p some stars
					//- span.clearfix
		div.col-md-10
			h1 File Uploads
			hr
			input(type='file',style='display: none', name='uploadFiles',id='uploadFiles',multiple)
			div(style='margin-bottom:15px')
				button.btn.btn-primary(id='addFilesButton') Add files
				button.btn.btn-primary(id='uploadAllFilesButton', style='margin-left:5px') Upload All
			div.progress
			div#progress.progress-bar(role='progressbar', style='width: 0%')
			table#files.table

block otherScripts
	script(src='/js/video.upload.js')