extends layout

block content
    div.container
        div.row   
            div.col-md-12.col-sm-12            
                .btn-group.pull-right.sortForm
                    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Sort by
                        span.caret 
                    ul.dropdown-menu
                        li
                            a(href='/') Popularity   
                        li
                            a(href='/sortByDate') Date                     

            div.row
                div.col-md-12.col-sm-12
                    each thing in data
                        div.col-md-3.col-sm-6.col-xs-12.videoHome
                            a(href="/video?id=#{thing.id}")                                             						
                                img.videoLink(src="#{thing.screenshot_path}", alt="screenshot")
                                p 
                                    span.dateVideoHome #{thing.added_date}
                                    .dateVideoHome.dateVideoHomeBack
                                p.size.textCenter #{thing.name} 
                                hr
                            .colorBlock    
                                .text-center
                                    input(id='#{thing.id}', class="rating rating-loading pull-center", value='#{thing.AVGRATING}', data-min="0", data-max="5", data-step="0.1", data-size="xs2", readonly = true )       
                                .bottomVideoHome
                                    p.size uploaded by: #{thing.full_name}
                                    p comments: #{thing.commentsCount}
                        

block otherScripts
